@import "generales/variables";


/* Estilos Generales */
// Importa los estilos de fuentes
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

p {
    color: $color-text;
}

body {
    font-family: $font;
    background-color: $color-background;
    font-size: 2rem;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: center;
    color: $color-text;
    @include texto-con-sombra;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: center;
    color: $color-text;
    @include texto-con-sombra;
}

h3 {
    color: $color-text;
    font-weight: bold;
    @include texto-con-sombra;
}

/* Estilos Generales */
@import "generales/headerFooter";

/* Estilos específicos de la página */
@import "page/index";
@import "page/gameEditions";
@import "page/glossary";
@import "page/shop";
@import "page/contactUs";


// Importa los estilos para media queries
@import "generales/mediaQ";